<div class="'container" *ngFor="let user of users">
  <div class="background">
    <div class="card-header">
      {{ user.entreprise }}

      <div class="card">
        <div class="name">
          {{ user.prenom }} {{ user.nom }}
        </div>
        <div class="info">
          <p>email : {{ user.email }}</p>
          <p *ngFor="let telephone of user.telephones">Tel : {{ telephone }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="nom">Nom : </label>
    <input
      type="text"
      id="nom"
      formControlName="nom"
      placeholder="Nom"
    />
    <span *ngIf="submitted && form['nom'].invalid">
      <span *ngIf="form['nom'].hasError('minlength')">
        * Nom doit contenir au minimum 2 caractères
      </span>
      <span *ngIf="!form['nom'].value">
        * Nom obligatoire
      </span>
    </span>
  </div>
  <div>
    <label for="prenom">Prenom : </label>
    <input
      type="text"
      id="prenom"
      formControlName="prenom"
      placeholder="Prenom"
    />
    <span *ngIf="submitted && form['prenom'].invalid">
      <span *ngIf="form['prenom'].hasError('minlength')">
        * Prénom doit contenir au minimum 2 caractères
      </span>
      <span *ngIf="!form['prenom'].value">
        * Prénom obligatoire
      </span>
    </span>
  </div>

  <div>
    <label for="entreprise">Entreprise : </label>
    <input
      type="text"
      id="entreprise"
      formControlName="entreprise"
      placeholder="Entreprise"
    />
    <span *ngIf="submitted && form['entreprise'].invalid">
      <span *ngIf="form['entreprise'].hasError('minlength')">
        * Entreprise doit contenir au minimum 2 caractères
      </span>
      <span *ngIf="!form['entreprise'].value">
        * Entreprise obligatoire
      </span>
    </span>
  </div>
  <div>
    <label for="email">Email : </label>
    <input
      type="email"
      id="email"
      formControlName="email"
      placeholder="Email"
    />
    <span *ngIf="submitted && form['email'].invalid">
      <span *ngIf="form['email'].hasError('email')">
        * Email invalide
      </span>
      <span *ngIf="!form['email'].value">
        * Email obligatoire
      </span>
    </span>
  </div>
  <!-- On commence par ajouter une div supplémentaire pour enrober le tout -->
  <!--  On déclare la form array -->
  <div formArrayName="telephones">
      <!-- On indique qu'on va vouloir ajouter un champs par control de téléphone-->
    <div *ngFor="let telephone of telephones.controls; let i = index">
      <label for="telephone">Telephone : </label>
      <!-- On utilise le propertybinding pour faire la liaison entre le champs et le téléphone -->
      <!-- [formControlName]="i" : On lui passe l'index du champs pour qu'il puisse faire le lien -->
      <input
        type="tel"
        id="telephone"
        [formControlName]="i"
        placeholder="Telephone"
      />
      <!-- On laisse les conditions -->
      <span *ngIf="submitted && telephone.invalid">
        <span *ngIf="telephone.hasError('minlength')">
          * Telephone doit contenir au moins 10 chiffres
        </span>
        <span *ngIf="!telephone.value">
          * Téléphone obligatoire
        </span>
      </span>
    </div>
    <!-- On ajout à la fin 2 bouttons, qui vont chercher nos méthodes d'ajout et de supperssion de champ -->
    <button type="button" (click)="addTelephone()">+</button>
    <!-- On fait attention à bien activer la suppression que si nécessaire ! -->
    <button *ngIf="telephones.length > 1" type="button" (click)="removeTelephone()">-</button>
  </div>
  <div>
    <button type="submit">Envoyer</button>
  </div>
</form>
</div>