 <!-- <app-first-component></app-first-component> -->
 <!-- <app-carte-viste></app-carte-viste> -->
<!-- <app-user></app-user> -->
<!-- <app-alert-button></app-alert-button> -->
 <!-- <app-liste></app-liste>  -->
<!-- <app-magie></app-magie> -->
<!-- <app-liste-filtre></app-liste-filtre> -->
<!-- <app-hidder></app-hidder> -->
<!-- <app-show-date></app-show-date> -->
<!-- <app-button-menu></app-button-menu> -->
<!-- <app-clock-menu></app-clock-menu> -->
<!-- <app-liste-courses></app-liste-courses> -->
<app-reactive-liste-courses></app-reactive-liste-courses>
<router-outlet></router-outlet>
